# Dependencies
/node_modules
/dist

# Environment
.env

# Database
Help Tools/*.sqlite3
Help Tools/*.sqlite3-query
*.db

# Build files
*.js.map

# IDE files
.vscode/
.idea/

.exe
.log

logs/
uploads/
# Logs